div.news-detail {
	word-wrap: break-word;
	font-size: 16px;
	color: #505050;
}

div.news-detail img.detail_picture {
	float:left;
	margin:0 8px 6px 1px;
}

div.news-detail h2 {
   color: #45420d;
   border-bottom: 1px solid #45420d;
}

div.news-detail h3 {
   color: #45420d;
}

.news-date-time {
	color:#757575;
}
